
table {
  width: 60em;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 2px solid #cbcbcb;
}

thead {
  background-color: #e0e0e0;
  text-align: left;
  vertical-align: bottom;
}
button {
  margin: 2px;
}
tbody {
  text-align: left;
}

.Balance {
  background-color: #91eeff;
  color: #0001f4;
}

.Debit {
  background-color: #f29fa0;
  color: #ff0000;
}

.Credit {
  background-color: #b9ffb0;
  color: #00a503;
}

h1 {
  color: #008612;
  width: 70em;
  float: right;
}